/* @font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProRegular.woff') format('woff') font-weight-lighter,
    url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProMedium.woff') format('woff') font-weight-normal,
    url('https://fonts.cdnfonts.com/s/31312/TypeMates  Cera Round Pro Bold.woff') format('woff') font-italic font-weight-bold;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProRegular.woff') format('woff');
} */

@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProRegular.woff') format('woff');
}
@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 250;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProThin.woff') format('woff');
}
@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProLight.woff') format('woff');
}
@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProMedium.woff') format('woff');
}
@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  Cera Round Pro Bold.woff') format('woff');
}
@font-face {
    font-family: 'Cera Round Pro';
    font-style: normal;
    font-weight: 900;
    src: url('https://fonts.cdnfonts.com/s/31312/TypeMates  CeraRoundProBlack.woff') format('woff');
}

html {
    height: 100%;
}